altgraph==0.17.2
asgiref==3.5.0
atomicwrites==1.4.0
attrs==21.4.0
Authlib==0.15.5
backports.zoneinfo==0.2.1
boto3==1.23.0
botocore==1.26.0
branca==0.4.2
buildozer==1.2.0
CacheControl==0.12.11
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
cryptography==37.0.2
csvs==0.1.1
daemon==1.2
dataclasses-json==0.5.7
DateTime==4.4
decorator==4.4.2
distlib==0.3.4
Django==4.0.4
docutils==0.18.1
et-xmlfile==1.1.0
filelock==3.4.2
firebase-admin==5.2.0
Flask==2.0.2
folium==0.12.1.post1
future==0.18.2
geocoder==1.38.1
geographiclib==1.52
geojson==2.5.0
geopy==2.2.0
google-api-core==2.7.3
google-api-python-client==2.49.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-cloud-core==2.3.0
google-cloud-firestore==2.4.0
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.2
google-streetview==1.2.9
googleapis-common-protos==1.56.0
googlemaps==4.5.3
grpcio==1.46.0
grpcio-status==1.46.0
httplib2==0.20.4
huepy==1.2.1
icalendar==4.0.9
idna==3.3
imageio==2.19.2
imageio-ffmpeg==0.4.7
iniconfig==1.1.1
instabot==0.117.0
instagramy==4.5
iso3166==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==1.0.0
jpholiday==0.1.8
kwconfig==1.1.7
livereload==2.6.3
mapbox==0.18.0
MarkupSafe==2.0.1
marshmallow==3.15.0
marshmallow-enum==1.5.1
mock==4.0.3
moviepy==1.0.3
msgpack==1.0.3
mypy-extensions==0.4.3
natsort==8.1.0
numpy==1.22.3
oauth2client==4.1.3
oauthlib==3.2.0
opencv-python==4.5.5.64
openpyxl==3.0.9
oscpy==0.6.0
overpy==0.6
packaging==21.3
pandas==1.4.2
pefile==2021.9.3
pexpect==4.8.0
Pillow==9.1.0
platformdirs==2.4.1
playsound==1.3.0
pluggy==1.0.0
polyline==1.4.0
proglog==0.1.10
proto-plus==1.20.3
protobuf==3.20.1
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.10.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.5
pyjnius==1.4.1
pyowm==3.3.0
pyparsing==3.0.8

PySocks==1.7.1
pytest==7.1.2
python-dateutil==2.8.2
python-twitter-v2==0.7.7
pytz==2021.3

ratelim==0.1.6
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
responses==0.20.0
rsa==4.8
s3transfer==0.5.2
schedule==1.1.0
sh==1.14.2
six==1.16.0
sqlparse==0.4.2
tomli==2.0.1
tornado==6.1
tqdm==4.64.0
tweepy==4.9.0
twitter==1.19.3
typing-inspect==0.7.1
typing_extensions==4.2.0
tzdata==2022.1
uritemplate==4.1.1
urllib3==1.26.7
virtualenv==20.13.0
Werkzeug==2.0.2
xlrd==2.0.1
xlwt==1.3.0
zope.interface==5.4.0